Repository kume-negitoro/poprop: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

add vscode workspace config
  .vscode/settings.json
Due: none

add README.md
  CreateReactApp.README.md
  README.md
Due: none

tmp commit
  package.json
  src/AddBubble.tsx
  src/App.tsx
  src/Bubble.tsx
  src/SvgCanvas.tsx
  src/keyframes/easeInElastic.ts
  yarn.lock
Due: eslint --fix

test
  package.json
  src/App.css
  src/App.tsx
  src/Fopen.svg
  src/Fplus.svg
  src/No.svg
  src/SelectMenu.css
  src/SelectMenu.tsx
  src/Yes.svg
  yarn.lock
Due: eslint --fix, prettier --write

ボタンUI縦並び(無理やり)
  package.json
  src/App.tsx
  src/SelectMenu.css
  src/SelectMenu.tsx
  yarn.lock
Due: eslint --fix, prettier --write

少しマシなやり方で縦並びにした
  src/SelectMenu.tsx
Due: eslint --fix

縦並び調整版(line-heightとかいじった)
  src/SelectMenu.css
  src/SelectMenu.tsx
Due: eslint --fix, prettier --write

tmp / 泡のdragができるところまで
  package.json
  src/AddBubble.tsx
  src/Bubble.tsx
  src/SvgCanvas.tsx
  tsconfig.json
  yarn.lock
Due: eslint --fix

ワード数と狂気の手入力アドレスに対応
  src/SelectMenu.css
  src/SelectMenu.tsx
Due: eslint --fix, prettier --write

選択/選択解除実装
  package.json
  src/AddBubble.tsx
  src/Bubble.tsx
  src/SvgCanvas.tsx
  yarn.lock
Due: eslint --fix

add w2v-api
  package.json
  yarn.lock
Due: none

tmp / 提案と追加用の泡を出すまで
  .gitignore
  src/AddBubble.tsx
  src/Bubble.tsx
  src/SvgCanvas.tsx
  yarn.lock
Due: eslint --fix

同一の単語を複数存在できないようにした
  src/SvgCanvas.tsx
  yarn.lock
Due: eslint --fix

propsうまくいかん状態
  package.json
  src/SelectMenu.tsx
  yarn.lock
Due: eslint --fix

見た目ほぼ完成
  src/App.tsx
  src/SelectMenu.tsx
Due: eslint --fix

自動で線が引かれるところまで
  src/AddBubble.tsx
  src/Bubble.tsx
  src/SvgCanvas.tsx
Due: eslint --fix

チェックボタンを緑色にした
  package.json
  src/No.svg
  src/SelectMenu.css
  src/SelectMenu.tsx
  src/Yes.svg
Due: eslint --fix, prettier --write

緑色にした
  src/SelectMenu.css
  src/SelectMenu.css.rej
Due: prettier --write

書き出し/保存/復元まで実装
  src/App.tsx
  src/AppMain.tsx
  src/Bubble.tsx
Due: eslint --fix

@types/styled-componentsをdevDependenciesに修正
  package.json
Due: none

ルーティングと細かい調整まで
  src/AddBubble.tsx
  src/AppMain.tsx
  src/SelectMenu.tsx
Due: eslint --fix

既存ファイル選択画面追加
  src/SelectMenu.css
  src/SelectMenu.tsx
Due: eslint --fix, prettier --write

ほぼ完成(ちょっと調整)
  src/SelectMenu.tsx
Due: eslint --fix

泡の縦横の半分以上が画面外に出ないようにした
  src/AppMain.tsx
Due: eslint --fix

AddBubbleのfont-sizeを150%にした
  src/AddBubble.tsx
Due: eslint --fix

tmp / ToolBarを追加したところまで
  src/AppMain.tsx
  src/AppMainHeader.tsx
Due: eslint --fix

最低限全ての要件が動作するところまで
  src/AppMain.tsx
  src/SelectMenu.tsx
Due: eslint --fix

ListItemにkeyを追加
  src/SelectMenu.tsx
Due: eslint --fix

ルートノードを濃いピンクにした
  src/AppMain.tsx
Due: eslint --fix

キーフレーズ抽出を有効にした
  src/AppMain.tsx
  src/utils/jsonp.ts
Due: eslint --fix

上限5個までのバグを修正
  src/AppMain.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.css
